.homePage {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

@media (min-width: 768px){
    .homePage {
        padding-top: 140px;
        gap: 80px;
    }
}

@media (min-width: 1440px){
    .homePage {
        padding-top: 172px;
        gap: 96px;
    }
}